<%= render 'shared/tagbar-opinions' %>

<div class="grid-container">
  <div class="interviews_grid">
    <h1 class="page-head">Opinions</h1>
    <h2 class="page-subhead">Thought-provoking commentary from writers, thinkers and changemakers across the world.</h2>

    <div class="grid_flex">
      <% @opinions.each do |article| %>
        <%= render 'shared/card', article: article %>

      <% end %>
    </div>
  </div>
</div>
