<%= render 'shared/tagbar-opinions' %>

<div class="grid-container">
  <div class="interviews_grid">
    <h1 class="page-head"><%= @category.upcase.pluralize %></h1>
    <h2 class="page-subhead">Expert analysis and commentary to help you to make sense of what’s emerging.</h2>

    <div class="grid_flex">
      <% @articles.each do |article| %>
        <%= render 'shared/card', article: article %>

      <% end %>
    </div>
  </div>
</div>
