$primary-font: 'Cinetype';
$secondary-font: 'Gascogne';
$secondary-font-light: 'Gascogne-xtralight';
$admin-font: 'Roboto Slab';


@font-face {
  font-family: 'Cinetype';
  src: font-url('cinetype/GT-Cinetype-Regular.eot');
  src: font-url('cinetype/GT-Cinetype-Regular.woff') format('woff'),
       font-url('cinetype/GT-Cinetype-Regular.ttf') format('truetype');
  font-weight: normal;
}
// @font-face {
//   font-family: 'Cinetype';
//   src: font-url('cinetype/GT-Cinetype-Regular-Italic.eot');
//   src: font-url('cinetype/GT-Cinetype-Regular-Italic.woff') format('woff'),
//        font-url('cinetype/GT-Cinetype-Regular-Italic.ttf') format('truetype');
//   font-weight: italic;
// }

@font-face {
  font-family: 'Gascogne';
  src: font-url('gascogne/GascogneTS-Light.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Gascogne-light';
  src: font-url('gascogne/38AF0D_0_0.woff');
}
