* {
  box-sizing: border-box;
  font-family: $secondary-font;
}

body {
  margin: 0;
  position: relative;
  min-height: 1vh;
}

body.home {
  background: image-url('Frame-home.png') repeat-y center;
}
body.grey {
  background: image-url('Frame-grey.png') repeat-y center;
}
body.index {
  background: image-url('Frame-articles.png') repeat-y center;
}
body.temp {
  background: image-url('Frame-placeholder.png') repeat-y center;
}

p {
  margin: 10px;
  line-height: 1.6em;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $secondary-font;
  font-weight: 100;
}

h1 {
  font-family: $secondary-font;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: .1em;
}

h2 {
  font-family: $secondary-font;
  font-size: 25px;
  letter-spacing: .02em;
  line-height: 1.2em;
}

l1, l2, l3, l4 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $primary-font;
  font-weight: 100;
}

l1 {
  font-size: 40px;
}

l2 {
  font-size: 25px;
}

l3 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .15em;
  line-height: 1.3em;
}

input, select {
  outline: none !important;
}

a {
  color: #000000;
  text-decoration: none;
    &:hover {
        opacity: 80%;
    }
}

.heading {
  font-family: $secondary-font;
  font-weight: 300;
}

.category {
  font-family: $primary-font;
  font-size: 12px;
  text-transform: uppercase;
  outline: solid black 1px;
  background-color: white;
  padding: 4px;
  letter-spacing: .15em;
  text-shadow: none;
  color: black;
}

.tag {
  font-family: $primary-font;
  font-size: 12px;
  text-transform: uppercase;
  outline: solid black 1px;
  color: white;
  background-color: black;
  padding: 4px;
  letter-spacing: .15em;
}

.link {
  padding: 18px 4px;
}

.container-pp {
  margin-left: 20px;
  margin-right: 20px;
}

.container {
  width: 100% !important;
  padding: 0 !important;
}

.main-container {
  min-height: calc(100vh - 170px);
  margin-top: 20px;
  margin-bottom: 40px;
}

.social {
  padding: 5px;
}

.upcase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.primary {
  font-family: $primary-font;
}

.secondary {
  font-family: $secondary-font !important;
}

.white {
  color: white;
}

.round {
  border-radius: 50%;
}

.hidden {
  display: none !important;
}


.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s cubic-bezier(0, 1, 0, 1);
&.show {
    max-height: 99em;
    transition: max-height .5s ease-in-out;
  }
}
