.grid_flex {
  @media screen and (min-width: 420px) {
    grid-template-columns: repeat(auto-fill, 420px);
    display:grid;
    grid-gap: 100px 20px;
  }
  overflow: hidden;
  justify-content: center;
}

.home-grid-flex {
  @media (min-width: 420px) {
    display:grid;
    grid-gap: 100px 20px;
    grid-template-columns: repeat(auto-fill, 420px);
  }
  overflow: hidden;
  justify-content: center;
  @media screen and (max-width: 969px) {
    max-height: 1130px;
  }
  @media screen and (min-width: 970px) {
    max-height: 440px;
  }
}

// XS
@media screen and (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
  // .grid_flex {
  //   display: grid;
  //   grid-template-columns: 420px;
  // }
}

// SM
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
  // .grid_flex {
  //   display: grid;
  //   grid-template-columns: repeat(2, 420px);
  // }
}

// MD
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
  // .grid_flex {
  //   display: grid;
  //   grid-template-columns: repeat(2, 420px);
  // }
}

// LG
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
  // .grid_flex {
  //   display: grid;
  //   grid-template-columns: repeat(3, 420px);
  // }
}

.grid-container {
  margin: 0 auto;
  @media screen and (max-width: 1399px) {
    width: 100%;
  }
  @media screen and (min-width: 1400px) {
    width: calc(100% - 140px);
  }

}
