.temp {
  &-container {
    min-height: calc(100vh - 375px);
    margin: 100px auto;
  }
  &-head {
    text-align: center;
    // margin: 100px 0 25px;
  }
  &-subhead {
    text-align: center;
  }

}

.temp-card {

    margin: 0 auto;
    background-color: white;
    max-width: 720px;
    text-align: center;
    @media screen and (max-width: 899px) {
      width: 100%;
      padding: 18px 8px;
    }
    @media screen and (min-width: 900px) {
      width: 80%;
      padding: 30px 80px;
    }
  }
.temp-card h2 {
    margin: 16px auto;
  }
.contribute {
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: .15em;
  line-height: 1.3em;
  font-family: $primary-font;
  color: grey;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 8px;
  overflow-wrap: break-word;
}

#about {
  text-align: left;
  max-width: 900px;
}
