.temp {
  &-container {
    min-height: calc(100vh - 375px);
    margin: 100px auto;
  }
  &-card {
    width: 50%;
    padding: 30px 80px;
    margin: 0 auto;
  }
  &-head {
    text-align: center;
    // margin: 100px 0 25px;
  }
  &-subhead {
    text-align: center;
  }
}
