.temp {
  &-container {
    min-height: calc(100vh - 375px);
    margin: 100px auto;
  }
  &-card {
    padding: 30px 80px;
    margin: 0 auto;
    width: 80%;
    background-color: white;
    max-width: 720px;
    text-align: center;
  }
  &-card h2 {
    margin: 16px auto;
  }
  &-head {
    text-align: center;
    // margin: 100px 0 25px;
  }
  &-subhead {
    text-align: center;
  }
  &-about {
    text-align: left;
  }
}

.contribute {
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: .15em;
  line-height: 1.3em;
  font-family: $primary-font;
  color: grey;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 8px;
}
