<div class="grid-container">
  <div class="interviews_grid">
    <h1 class="page-head">Spaces</h2>
    <h2 class="page-subhead">Discover hubs of the emerging new culture.</h2>
    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
    ></div>
    <div class="grid_flex">
      <% @pins.each do |pin| %>
        <%= render 'shared/spacecard', pin: pin %>
      <% end %>
      <div class="card-container card-contribute">
        <%= link_to 'https://docs.google.com/forms/d/e/1FAIpQLSe0m7OSMeBkSRpVtGYi2rAFqROHK6so2hqQlylXe_VLxuCwlQ/viewform', target: "_blank" do %>
          <div class="card-media">
            <div class="card-plus">+</div>
            <div class=card-headline>Do you have an event to share with the emerge community?</div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


