<div class="grid-container">
  <div class="interviews_grid">
    <h1 class="page-head">Spaces</h2>
    <h2 class="page-subhead">Discover hubs of the emerging new culture.</h2>
    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
    ></div>
    <div class="grid_flex">
      <% @pins.each do |pin| %>
        <%= render 'shared/spacecard', pin: pin %>
      <% end %>
    </div>
  </div>
</div>

