.home-grid-container a {
  grid-row: span 2;
  justify-item: stretch;
}
.home-grid-articles {
  overflow: hidden;
  justify-content: center;
  @media (min-width: 420px) {
    grid-template-columns: repeat(auto-fill, 420px);
    display: grid;
    grid-gap: 100px 20px;
  }
  @media (max-width: 419px) {
    max-height:3310px;
  }
  @media (min-width: 420px) and (max-width: 1411px) {
    max-height: 1520px;
  }
  @media (min-width: 1412px) {
    max-height: 980px;
  }
}

.feature-card .card {
  max-width: none;
  height: 790px;
}

.feature-updates-card {
  grid-area: update;
}
.feature-card .card-img {
  @media screen and (max-width: 899px) {
    min-height: 480px;
  }
  @media (min-width: 900px) {
    min-height: 614px;
  }
}

.home-card-container {
  display: flex;
  flex-direction: column;
  grid-row: span 2;
}

.home-section {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 859px) {
    margin: 80px auto;
  }
  @media (min-width: 860px) {
    margin: 120px 56px;
  }
}

.home-section-head {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
}
