

.home-grid-container {
  display: grid;
  grid-auto-flow: dense;
  grid-gap: 24px;
  justify-item: stretch;

}

@media (min-width: 1400px) {
  .home-grid-container {
    margin: 0 56px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "feature2   feature2  update"
    "feature2   feature2  update"
    "feature2   feature2  ."
    "feature3   feature3  ."
    "feature3   feature3  ."
    "feature3   feature3  .";
  }
}
@media (min-width: 900px) and (max-width: 1399px) {
  .home-grid-container {
    margin: 0 56px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "feature2   feature2"
    "feature2   feature2"
    "feature2   feature2"
    "update          ."
    "update          ."
    "feature3  feature3"
    "feature3  feature3"
    "feature3  feature3";
  }
}
@media (max-width: 899px) {
  .home-grid-container {
    margin: 0 8px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "feature2"
    "feature2"
    "."
    "."
    "feature3"
    "feature3";
  }
}

.feature-card {
    display: flex;
    flex-direction: column;
    border: solid 1px;
    padding: 30px;
    letter-spacing: .02em;
    line-height: 1.3;
    background-color: #ffffff;
    margin: 0 auto;
}

.feature-card2 {
  grid-area: feature2;
  padding: 0;
}

.feature-card3 {
  grid-area: feature3;
  padding: 0;
}

.home-grid-container a {
  grid-row: span 2;
  justify-item: stretch;
}

.feature-card .card {
  max-width: none;
  height: 790px;
}

.feature-updates-card {
  grid-area: update;
}
.feature-card .card-img {
  @media screen and (max-width: 899px) {
    min-height: 480px;
  }
  @media screen and (min-width: 900px) {
    min-height: 614px;
  }
}

.home-card-container {
  display: flex;
  flex-direction: column;
  grid-row: span 2;
}

.home-section {
  margin: 120px 56px;
  display: flex;
  flex-direction: column;
}

.home-section-head {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
}
