.home-grid-container a {
  grid-row: span 2;
  justify-item: stretch;
}
.home-grid-articles {
  display: grid;
  grid-gap: 100px 20px;
  grid-template-columns: repeat(auto-fill, 420px);
  overflow: hidden;
  max-height: 1040px;
}

.feature-card .card {
  max-width: none;
  height: 790px;
}

.feature-updates-card {
  grid-area: update;
}
.feature-card .card-img {
  @media screen and (max-width: 899px) {
    min-height: 480px;
  }
  @media screen and (min-width: 900px) {
    min-height: 614px;
  }
}

.home-card-container {
  display: flex;
  flex-direction: column;
  grid-row: span 2;
}

.home-section {
  margin: 120px 56px;
  display: flex;
  flex-direction: column;
}

.home-section-head {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
}
