.profile {
  &-header-photo {
    width: 100%;
    height: 90vh;
    max-height: calc(100vh - 250px);
    display: flex;
    justify-content: center;
    top: 0px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &-head-card {
    display: flex;
    flex-direction: column;
    margin: calc(100vh - 426px) 16px 0 16px;
    max-width: 720px;
    border: solid 1px;
    padding: 30px;
    background-color: #ffffff;
    height: 275px;
    text-align: center;
  }
  &-category {
    margin: -12px auto 0;
  }
  &-headline {
    overflow: hidden;
    margin: 8px 0;
    height: 5em;
  }
  &-subhead {
    font-family: $secondary-font;
    font-size: 25px;
    margin: 10px 0;
    height: 2em;
    overflow: hidden;
  }
  &-tag {
    letter-spacing: .15em;
    margin: 0 auto;
    margin-top: 18px
  }
  &-container {
    width: 80%;
    background-color: white;
    margin: 150px auto;
    max-width: 720px;
  }
  &-social {
    text-align: center;
    margin: 40px 0;
  }
  &-body {
    font-family: $secondary-font;
    text-size: 18px;
    letter-spacing: .02em;
    line-height: 1.6em;
    padding: 30px;
  }
}

.profile-body p:first-child {
  font-size: 25px;
}
