<%= render 'shared/tagbar' %>

<div class="grid-container">
  <div class="interviews_grid">
    <h1 class="page-head">Videos</h2>
    <h2 class="page-subhead">Tune into what’s emerging with our video discovery tool.</h2>

    <div class='grid_flex'>
      <% @videos.each do |article| %>
        <%= render 'shared/card', article: article %>
      <% end %>
      <div class="card-container card-contribute">
        <%= link_to 'https://docs.google.com/forms/d/e/1FAIpQLScShGHY5ndIjXnY_hEcmqx5MlZXSJgiPdYa9KDQ7HQaf4-04w/viewform', target: "_blank" do %>
          <div class="card">
            <div class="card-plus">+</div>
            <h2 class=card-headline>Do you have a video to share with the emerge community?</h2>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


