<%= render 'shared/tagbar-videos' %>

<div class="grid-container">
  <div class="interviews_grid">
    <h1 class="page-head">Videos</h2>
    <h2 class="page-subhead">Tune into what’s emerging with our video discovery tool.</h2>

    <div class='grid_flex'>
      <% @videos.each do |article| %>
        <%= render 'shared/mediacard', article: article %>
      <% end %>
      <div class="card-container card-contribute">
        <div class="card-plus">+</div>
        <div class=card-headline>Do you have a video to share with the emerge community?</div>
      </div>
    </div>
  </div>
</div>


