<div class="card">
  <div class="card-img" style="background-image: url('<%= instance.photo %>')">
    <div class="card-tag"><%= instance.tag %></div>
  </div>
  <div class="card-headline">
    <%= instance.headline %>
  </div>
  <div class="card-subhead"><%= instance.subhead %></div>
</div>
