<div class="card-container card-contribute">
  <%= link_to 'https://docs.google.com/forms/d/1ciwqXm0_iPkTScYDuscZPMF_wqBC6araTf3T6ThcP84/edit' do %>
    <div class="card-media">
      <div class="card-plus">+</div>
      <div class=card-headline>Do you have a video to share with the emerge community?</div>
    </div>
  <% end %>
</div>
