<div class="footer">
  <div class="footer-left">
    <l3>Join our newsletter</l3>
      <!-- Begin Mailchimp Signup Form -->
      <div id="mc_embed_signup">
      <form action="https://cocreationloft.us12.list-manage.com/subscribe/post?u=c1681a9b61f455e5b77bf3bc7&amp;id=3c7cc4f67f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c1681a9b61f455e5b77bf3bc7_3c7cc4f67f" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>
      </div>
      <!--End mc_embed_signup-->
  </div>
  <div class="footer-center-left">
    <div>
      <l3>or find us on</l3>
    </div>
    <div>
      <%= link_to "https://twitter.com/whatisemerging", target: "_blank", rel: "nofollow" do %>
        <i class="social fab fa-twitter"></i>
      <% end %>
      <%= link_to "https://www.facebook.com/whatisemerging", target: "_blank", rel: "nofollow" do %>
        <i class="social fab fa-facebook-f"></i>
      <% end %>
      <%= link_to "https://www.instagram.com/whatisemerging/", target: "_blank", rel: "nofollow" do %>
        <i class="social fab fa-instagram"></i>
      <% end %>
      <%= link_to "https://linkedin.com/company/whatisemerging", target: "_blank", rel: "nofollow" do %>
        <i class="social fab fa-linkedin-in"></i>
      <% end %>
    </div>
  </div>
  <div class="footer-center-right">
    <l3>created with love</l3>
    <l3>in Berlin</l3>
  </div>
  <div class="footer-right">
    <l3>Imprint</l3>
  </div>
</div>
