<div class="footer">
  <div class="footer-left">
    <l3>Join our newsletter</l3>
  </div>
  <div class="footer-center-left">
    <div>
      <l3>or find us on</l3>
    </div>
    <div>
    <!--       <%= link_to "https://twitter.com/whatisemerging" do %>
        <i class="social fab fa-twitter"></i>
      <% end %> -->
      <%= link_to "https://www.facebook.com/whatisemerging" do %>
        <i class="social fab fa-facebook-f"></i>
      <% end %>
      <%= link_to "https://www.instagram.com/whatisemerging/" do %>
        <i class="social fab fa-instagram"></i>
      <% end %>
      <%= link_to "linkedin.com/company/whatisemerging" do %>
        <i class="social fab fa-linkedin-in"></i>
      <% end %>
    </div>
  </div>
  <div class="footer-center-right">
    <l3>created with love</l3>
    <l3>in Berlin</l3>
  </div>
  <div class="footer-right">
    <l3>Imprint</l3>
  </div>
</div>
