<div class="tagbar-container">
  <div class="tagbar">
    <div class="hidden-xs hidden-sm">
      <span class="tagbar-item upcase">Tags: </span>
      <a href="" class="tagbar-item tagbar-link">All</a>
      <a href="" class="tagbar-item tagbar-link">Art</a>
      <a href="" class="tagbar-item tagbar-link">Politics</a>
      <a href="" class="tagbar-item tagbar-link">Business</a>
      <a href="" class="tagbar-item tagbar-link">Society</a>
      <a href="" class="tagbar-item tagbar-link">Education</a>
      <a href="" class="tagbar-item tagbar-link">Spirituality</a>
      <a href="" class="tagbar-item tagbar-link">Science</a>
      <a href="" class="tagbar-item tagbar-link">Technology</a>
      <a href="" class="tagbar-item tagbar-link">Philosophy</a>
    </div>
  </div>
</div>
