<div class="tagbar-container">
  <div class="tagbar">
    <div class="hidden-xs hidden-sm">
      <span class="tagbar-item upcase">Tags: </span>
      <%= link_to "All", opinions_path, class: "tagbar-link" %>
      <% Article.where(category: "opinion").pluck(:tag).uniq.each do |tag| %>
        <% if tag == params[:tag] %>
          <%= link_to tag, opinions_path(tag: tag), class: "tagbar-link active" %>
        <% else %>
          <%= link_to tag, opinions_path(tag: tag), class: "tagbar-link" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
