<div class="tagbar-container">
  <div class="tagbar">
    <div class="hidden-xs hidden-sm">
      <%= link_to "All", podcasts_path, class: "tagbar-link blank" %>
      <% Article.where(category: 'podcast').where(published: true).where(deleted: false).pluck(:tag).uniq.each do |tag| %>
        <%= link_to tag, podcasts_path(tag: tag), class: current_tag?(tag) %>
      <% end %>
    </div>
  </div>
</div>
