<div class="grid-container">
  <div class="interviews_grid">
    <h1 class="page-head">Events</h2>
    <h2 class="page-subhead">Explore live events near you.</h2>

    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
    ></div>

    <div class="grid_flex">
      <% @events.each do |event| %>
        <%= render 'shared/eventcard', pin: event %>
      <% end %>
      <div class="card-container card-contribute">
        <%= link_to 'https://docs.google.com/forms/d/e/1FAIpQLScshf5S8vloW4_4pwLZGAEoc-VaraB9uiKdbYlHEtIHkkLZzQ/viewform', target: "_blank" do %>
          <div class="card-media">
            <div class="card-plus">+</div>
            <div class=card-headline>Do you have an event to share with the emerge community?</div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

