<div class="temp-container">
  <h1 class="temp-head primary">About</h1>
  <div class="temp-card">
    <p class="temp-subhead">This is where we'd like to tell you more about Emerge</p>
  </div>
</div>
