<% @page = 'grey' %>
<div class="temp-container">
  <h1 class="temp-head">About</h1>
  <div class="temp-card" id="about">

    <%= @about.body.html_safe %>

  </div>
</div>

<script>
  var heads = document.querySelectorAll('#about h1');
  console.log(heads);

  [].forEach.call(heads, function(head) {
    var d = document.createElement('h3');
    d.innerHTML = head.innerHTML;
    d.classList.add('about-subhead')
    head.parentNode.replaceChild(d, head)
  });
</script>
