<% @page = 'grey' %>
<div class="temp-container">
  <h1 class="temp-head">About</h1>
  <div class="temp-card" id="about">

    <h2 class="tall"><b>EMERGE</b> is an independent, non-profit media channel exploring how to act wisely in a world that feels out of control. We aim to explore the emerging cultural narratives of our time by curating inspiring content from across the web, profiling change makers and thinkers, publishing thought-provoking commentary and producing original video content.

    We are living in times of profound transition where our ways of working, communicating and governing are fast transforming, or becoming obsolete.

    All around us people are tearing down the old world order. What new narratives will emerge in the vacuum created by this disruption is not yet clear.

    By combining live events with the power of the internet, Emerge explores the changing world around us. We are a network and movement that celebrates people and projects, and an invitation to each of us to discover our part to play in the creation of a new story for humanity and our planet.</h2>

    <h1>
    What we believe
    </h1>

    <h2><b>The challenges facing our world today are more complex and species-threatening than ever before in human history.</b> The global threat of climate change and the social impacts of digitalisation and globalisation are currently far more complex than our collective capacity to comprehend. In order for us to move forward, our thinking about global problems has to evolve to match their complexity.

    <b>Our personal psychology is of huge consequence to the outside world.</b> If we are going to transform as a society then the personal development of individuals must be taken seriously as a societal, rather than individual, concern.

    <b>There is no one ‘true’ way of seeing the world. In order to move forward we need to transcend binary thinking.</b> This means moving beyond left and right political divides, thinking in terms of individual and collective responsibility, national and global identity, honoring individual identities and recognising the need to focus on a greater “we”.

    <b>Our world is socially constructed.</b> Human beings are dependent on and connected to the natural world, but when it comes to human society we are the creators. This means that we have more power than we realise to change it.

    <b>The emerging future will be co-created by all of us.</b> The world is learning to come together in new ways and each of us has a vital role to play. Emerge is a place where all are called forth to bring our gifts to the greater circle.

    <b>Across the world, there are hundreds of initiatives, projects and persons who are already tackling real world problems from this place of deeper awareness.</b> Our aim is to bring awareness to this growing movement and connect the dots between the people and projects contributing to this emergence.

    <b>Together, we can change the world and weave a new story for humanity and our planet. In fact, we already are.</b>

    This is a time of profound collaboration and we see you as a vital part of this mission. We’d love to weave your voice and vision into all that is being created and keep you updated on the launch of new projects, events and initiatives around the world. Email <%= mail_to "contribute@whatisemerging.com", "contribute@whatisemerging.com", class: '' %> and sign up to our newsletter here.</h2>

    <h1>
    How did Emerge begin?
    </h1>

    <h2>Emerge began as a three-day live event in Berlin in November 2018 initiated by three non-profit organisations: Perspectiva, London; co-creation.loft, Berlin and Ekskäret Foundation, Stockholm. The gathering brought together pioneers in complexity science, philosophy, spirituality, psychology, sustainability, creativity, and wisdom to explore dynamic solutions to our planet’s greatest challenges and discover new pathways of working, living and creating together.</h2>

    <h1>
      How is Emerge funded?
    </h1>

    <h2>We are a not-for-profit venture and we are funded primarily through donations, voluntary work and contributions collected through Patreon. Please visit our Patreon page here.</h2>

    <h1>
    How can you help?
    </h1>

    <h2>You can help by donating through Patreon and reading, sharing our media with your friends and colleagues or becoming a contributor.</h2>

    <h1>
      How do we choose which content to feature?
    </h1>

    <h2>We don’t, you do! Visit the corresponding page to suggest a podcast, video, space or event to be featured on Emerge.</h2>

    <h1>
      How can you contribute an original article or video?
    </h1>

    <h2>Send pitches for articles or videos to <%= mail_to "contribute@whatisemerging.com", "contribute@whatisemerging.com", class: '' %></h2>

    <h1>
      How can you contact us?
    </h1>

    <h2>For all non-pitch related inquiries reach us at: <%= mail_to "hello@whatisemerging.com", "hello@whatisemerging.com", class: '' %>
    </h2>

  </div>
</div>
