<% @page = 'temp' %>
<div class="temp-container">
  <h1 class="temp-head">About</h1>
  <div class="temp-card" id="about">

    <h2 class="tall">Welcome!</h2>

    <h2 class="tall">We’re excited that you found your way here, it means that you are curious about an emerging future and open to exploring what it might bring.</h2>

    <h2 class="tall">We feel the same. We started emerge because we were overwhelmed with all of the different media outlets, influencers and leaders that claim that they have all the answers.</h2>

    <h2 class="tall">Instead we believe that there is not one truth, but many, and that the story of humanity in the 21st century will be co-created by all of us.</h2>

    <h2 class="tall">But this means that it is the responsibility of everyone to learn how to navigate the new complexity of our times and create a meaningful dialogue about what we want.</h2>

    <h2 class="tall">Emerge is an independent and non-profit project. It is a space dedicated to empowering citizens to form their own understanding of what they want for the future. We bring together insightful writers, thinkers and doers to share their ideas and connect the dots between them, then we work with talented journalists, photographers and creators to bring these stories to life.</h2>

    <h2 class="tall">We are driven to look behind and beyond the superficial and explore the depth of what it means to be human in this day and age. Because in order to make a difference on the outside, we first need to understand who we are on the inside.</h2>

    <h2 class="tall">We collect stories, articles, podcast, videos, events and spaces to be a useful resource for everybody who wants to know more about themselves and the world around them.</h2>

    <h2 class="tall">But this bold vision can’t come to live without people who believe in it. If you feel called to be part of the story of emerge, have an interesting perspective, information or inspiring content to share please get in touch.</h2>

    <h2 class="tall">We look forward to hearing from you!</h2>

    <%= mail_to "contribute@whatisemerging.com", "contribute@whatisemerging.com", class: 'contribute' %>

    <h2>Your emerge team</h2>
  </div>
</div>
