<div class="temp-container">
  <h1 class="temp-head primary">Event</h1>
  <div class="temp-card">
    <p class="temp-subhead">If you have an event you would like to share with emerge, please email us at <%= mail_to "events@whatisemerging.com", "events@whatisemerging.com", class: 'white' %></p>
  </div>
</div>
