<div class="temp-container">
  <h1 class="temp-head primary">Podcast</h1>
  <div class="temp-card">
    <p class="temp-subhead">If you have an podcast you would like to share with emerge, please email us at <%= mail_to "podcast@whatisemerging.com", "podcast@whatisemerging.com", class: 'white' %></p>
  </div>
</div>
