<div class="temp-container">
  <h1 class="temp-head">Podcast</h1>
  <div class="temp-card">
    <h2 class="temp-subhead">A discovery tool for inspiring audio content from around the world. Got a recommendation?</h2>
    <%= mail_to "contribute@whatisemerging.com", "contribute@whatisemerging.com", class: 'contribute' %>
  </div>
</div>
