<% @page = 'temp' %>
<div class="temp-container">
  <h1 class="temp-head">Podcast</h1>
  <div class="temp-card">
    <h2 class="temp-subhead">A discovery tool for inspiring audio content from around the world. Got a recommendation?</h2>
    <%= mail_to "contribute@whatisemerging.com", "contribute@whatisemerging.com", class: 'contribute' %>

        <h2>Here’s what we've been listening to lately:</h2>

    <%= link_to "On Being", "https://onbeing.org/", class: "contribute" %>

    <%= link_to "Inner Truth", "https://innertruth.org/", class: "contribute" %>

  </div>
</div>
