<div class="temp-container">
  <h1 class="temp-head primary">Spaces</h1>
  <div class="temp-card temp-subhead">
    <p>We’re currently collecting together a database of inspiring projects, organisations, communities, institutions and landscapes from around the world. Do you have a space to share with Emerge? Get in touch: <%= mail_to "contribute@whatisemerging.com", "contribute@whatisemerging.com", class: 'white' %></p>

    <p>Here’s a few spaces that we’re inspired by…</p>

    <p>Ekskäret, Sweden - http://www.ekskaretfoundation.com/</p>

    <p>Schumacher College, UK - https://www.schumachercollege.org.uk/</p>

    <p>Tamera, Portugal - https://www.tamera.org/</p>

    <p>Esalen Institute, California - https://www.esalen.org/</p>
  </div>
</div>
