<div class="temp-container">
  <h1 class="temp-head primary">Spaces</h1>
  <div class="temp-card">
    <p class="temp-subhead">If you have a space you would like to share with emerge, please email us at <%= mail_to "spaces@whatisemerging.com", "spaces@whatisemerging.com", class: 'white' %></p>
  </div>
</div>
