<div class="temp-container">
  <h1 class="temp-head">Updates</h1>
  <div class="temp-card">
    <h2 class="temp-subhead">Keep up to date with what’s happening. Have news to share?</h2>
    <%= mail_to "contribute@whatisemerging.com", "contribute@whatisemerging.com", class: 'contribute' %>
  </div>
</div>
