<div class="temp-container">
  <h1 class="temp-head primary">Updates</h1>
  <div class="temp-card">
    <p class="temp-subhead">Keep up to date with what’s happening. Have news to share? contribute@whatisemerging.com</p>
  </div>
</div>
