<div class="temp-container">
  <h1 class="temp-head primary">Video</h1>
  <div class="temp-card">
    <p class="temp-subhead">If you have an video you would like to share with emerge, please email us at <%= mail_to "videos@whatisemerging.com", "videos@whatisemerging.com", class: 'white' %></p>
  </div>
</div>
