<div class="temp-container">
  <h1 class="temp-head">Video</h1>
  <div class="temp-card">
    <h2 class="temp-subhead">A discovery tool for inspiring video content from around the world. Got a recommendation? Email us: <%= mail_to "contribute@whatisemerging.com", "contribute@whatisemerging.com", class: 'white' %></h2>
  </div>
</div>
