<div class="updates-container">
  <h1 class="page-head"><%= @category.upcase %></h1>
  <h2 class="page-subhead">Stay up to date with what emerges as we explore what's emerging</h2>

  <div class="updates-grid">
    <% @articles.each do |article| %>
      <%= render 'shared/updatecard', article: article %>
    <% end %>
  </div>
  <div class="pagy-container">
    <%== paginate(@pagy) %>
  </div>
</div>
