.grid_flex {
  grid-gap: 100px 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
}
.card {
  display: flex;
  flex-direction: column;
  // margin: 50px 10px;
  max-width: 750px;
  height: 525px;
  border: solid 1px;
  padding: 30px;
  letter-spacing: .02em;
  line-height: 1.3;
  background-color: #ffffff;
  margin: 0 auto;
}

.card-media {
  display: flex;
  flex-direction: column;
  // margin: 50px 10px;
  max-width: 750px;
  border: solid 1px;
  padding: 30px;
  letter-spacing: .02em;
  line-height: 1.3;
  background-color: #ffffff;
  margin: 0 auto;
}

.card-pin {
  display: flex;
  flex-direction: column;
  // margin: 50px 10px;
  max-width: 750px;
  border: solid 1px;
  padding: 30px;
  letter-spacing: .02em;
  line-height: 1.3;
  background-color: #ffffff;
  margin: 0 auto;
}

.draft {
  background-color: $grey !important;
}
.card-text {
  margin: auto 0 0 0;
  @media screen and (max-width: 899px) {
    height: 140px;
  }
  @media screen and (min-width: 900px) {
    height: 114px;
  }
}
.card-text.small {
  margin: auto 0 0 0;
  @media screen and (max-width: 899px) {
    height: 160px;
    min-height: 160px;
  }
  @media screen and (min-width: 900px) {
    height: 160px;
    min-height: 124px;
  }
}

.card-headline {
  font-family: $secondary-font;
  font-size: 25px;
  margin: .5em 0 0;
  letter-spacing: .03em;
  line-height: 1.2em;
}
.card-img {
  height: 100%;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.card-category {
  position: absolute;
  bottom: 10px;
  left: -10px;
  // background: #ffffff;
  // padding: 4px;
  // border: solid #000000 1px;
  // font-family: $primary-font;
  // color: #000000;
  // text-shadow: none;
  // text-transform: uppercase;
  // font-size: 12px;
  // letter-spacing: .15em;
}
.card-tag {
  position: absolute;
  bottom: 10px;
  right: -10px;
  // background: #ffffff;
  // padding: 4px;
  // border: solid #000000 1px;
  // font-family: $primary-font;
  // color: #000000;
  // text-shadow: none;
  // text-transform: uppercase;
  // font-size: 12px;
  // letter-spacing: .15em;
}

.card-tag-media {
  position: relative;
  margin: -20px 0 0 auto;
  bottom: 10px;
  right: -10;
}

.card-subhead {
  overflow: hidden;
  font-family: $secondary-font;
  font-size: 17px;
  line-height: 1.3em;
}

.card-contributor {
  font-size: 25px;
  letter-spacing: .03em;
}

.card-quote {
  font-family: $primary-font;
  font-style: italic;
  font-size: 25px;
  letter-spacing: .03em;
}

.card-contribute {
  border: solid 1px black;
  padding: 20px;
  margin: 0 auto auto;
}
.card-plus {
  font-family: $secondary-font;
  font-size: 250px;
  text-align: center;
}
