.contributor-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
  margin: 48px auto;
}

.contributor-image {
  border-radius: 50%;
  width: 72px;
  height: 72px;
}

.contributor-name {
  font-size: 13px;
}

.contributor-text-container {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  font-size:13px;
}
.contributor-text-container-left {
  display: flex;
  flex-direction: column;
  padding-right: 16px;
  font-size:13px;
}

.contributor-header {
  font-family: $secondary-font;
  font-size: 25px;
  margin: 10px 0;
}
