.contributor-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 440px;
  margin: 48px auto;
  padding: 0 16px;
}

.contributor-image {
  border-radius: 50%;
  min-width: 100px;
  min-height: 100px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.contributor-name {
  font-size: 13px;
}

.contributor-text-container {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  font-size:13px;
  line-height: 1.3em;
  letter-spacing: .045em;
}
.contributor-text-header{
  padding: 4px 0;
}
.contributor-text-container-left {
  display: flex;
  flex-direction: column;
  padding-right: 16px;
  font-size:13px;
  line-height: 1.3em;
  letter-spacing: .045em;
}

.contributor-header {
  font-family: $secondary-font;
  font-size: 25px;
  margin: 10px 0;
  letter-spacing: .03em;
}
