.logged-in {
  &-container {
    background-color: $green;
    color: white !important;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  &-button {
    color: white;
    padding: 0 5px;
    font-family: $admin-font;
  }
  &-card {
    display: flex;
    justify-content: space-between;
  }
  &-icon {
    display: flex;
  }
  &-left {
    display:flex;
  }
}

.admin {
  font-family: $admin-font;
}
h3.admin {
  color: $green;
}

.admin.white {
  color: white;
}
