/* Main tagbar */
.tagbar-container {
  transition: all 0.3s ease;
  height: 32px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky !important;
  top: 70px;
  z-index: 1;
}

.tagbar {
  justify-content: space-between;
}

/* Basic tagbar item */
.tagbar-item {
  cursor: pointer;
  padding: 0 5px;
  font-family: $primary-font;
  flex: auto;
  text-transform: uppercase;
}

/* tagbar link */
.tagbar-link {
  font-size: 10px;
  text-decoration: none;
  padding: 3px 5px;
  font-family: $primary-font;
  text-transform: uppercase;
  background-color: $grey;
  margin: 4px;
  letter-spacing: .2em;
}

.tagbar-link.active {
  color: white;
  background-color: black;
  padding: 3px 5px;
}

.tagbar-link:hover {
  color: $hover;
  text-decoration: none;
}

.tagbar .active {
  color: white;
  background-color: black;
}
