// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.event-header-photo {
  width: 800px;
  height: 90vh;
  max-height: calc(100vh - 250px);
  max-width: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.event-head-card {
  display: flex;
  flex-direction: column;
  margin: -24px auto 0 auto;
  max-width: 700px;
  border: solid 1px black;
  padding: 18px;
  background-color: #ffffff;
  text-align: center;
}

.event-filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.event-date {
  overflow: hidden;
  line-height: 1.3em;
  margin: 8px 0 20px;
}

.event-link {
  padding-bottom: 16px;
  color: $accent-color;
}

.event-container {
  @media screen and (max-width: 899px) {
    margin: 80px auto 0 auto;
  }
  @media screen and (min-width: 900px) {
    margin: 100px auto 0 auto;
  }
}

.event-body {
  font-family: $secondary-font-light;
  font-size: 18px;
  letter-spacing: .02em;
  line-height: 1.5em;
  padding: 0 30px;
  margin-bottom: 80px;
  & .body {
    width: 90%;
    max-width: 700px;
    margin: 12px auto;
    padding: 0 18px;
    background-color: white;
  }
  & .body a {
    text-decoration: underline;
    &:hover {
      color: grey;
    }
  }
}
