// Place all the styles related to the opinions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.opinion-header-photo {
  height: 275px;
  width: 275px;
  margin: 0 auto;
  position: relative;
  top: 25px;
  background-size: cover;
}
.opinion-contributor {
  font-size: 21px;
  font-family: $primary-font;
}
.opinion-head-card {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 720px;
    border: solid 1px;
    padding: 30px;
    background-color: #ffffff;
    // height: 275px;
    text-align: center;
}
.opinion-subhead{
  font-size: 25px;
  letter-spacing: .02em;
  padding: 0 60px;
}
.opinion-container {
  width: 80%;
  background-color: white;
  margin: 32px auto;
  max-width: 720px;
}
