// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
