<div class="emergepodcast-container">
  <h1 class="page-head">Emerge: Making Sense of What's Next</h1>
  <h2 class="page-subhead">A podcast based inquiry into the next phase of the human experiment.
  </h2>
  <div class="emergepodcast-head-container">
    <div class="emergepodcast-info">
      <div>
        The <i>Emerge: Making Sense of What's Next</i> podcast with Daniel Thorson is a podcast based inquiry into the next phase of the human experiment. We’re living in a moment of culture chaos; celebrities, companies and politicians battle for our attention, societies are fragmenting, long-held political and social norms are upending, and all the while a privileged few reap ungodly benefits. As this battle rages, a new story of what it means to be human is quietly taking shape. How do we survive and thrive? How do we guard ourselves against a life of meaninglessness and quiet desperation? What is your role and responsibility in this turning of the ages?<br><br>

        <i>Emerge is here to help us make sense of what’s next.</i><br><br>

        Follow Daniel on <a href="https://twitter.com/dthorson">Twitter</a><br>
        Become a <a href="https://anchor.fm/emerge/support">supporter of this podcast</a> on <a href="https://anchor.fm/emerge">Anchor.fm</a>.<br>
        Listen on <a href="https://podcasts.apple.com/au/podcast/emerge-making-sense-of-whats-next/id1057220344">
        Apple Podcasts</a>, <a href="https://open.spotify.com/show/3U7sN6DzLbNUQXEjcuLPl4">Spotify</a>, or your favorite app.
      </div>
    </div>
    <div class="emergepodcast-photo">
      <img src="https://res.cloudinary.com/whatisemerging/image/upload/f_auto,c_fill,g_face,q_auto,r_max,w_200,h_200/v1555599524/cache/85e026bde8fbc5eba7265aaafb711c72.jpg" alt="">
    </div>
  </div>
  <div class=podcast-player-container-large>
    <iframe src="https://castbox.fm/app/castbox/player/id1205127?v=4.1.190404&autoplay=0" frameborder="0" width="100%" height="500"></iframe>
  </div>
  <div class="emergepodcast-bio-container">
    <div class="emergepodcast-bio">
      Daniel Thorson is currently a resident of the <a href='http://www.whatisemerging.com/spaces/the-monastic-academy'>Monastic Academy</a> in Vermont.<br><br>
    </div>
  </div>

    <div class="home-section">
      <h1 class="center home-section-head">Recently featured on Emerge</h1>
      <div class="home-grid-flex">
        <% @articles.each do |article| %>
          <%= render 'shared/card', article: article %>
        <% end %>
      </div>
    </div>

</div>
