<% content_for :meta_title, "#{@article.headline} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @article.subhead %>
<% content_for :meta_image, @article.photo %>

<div class="videos-container">
  <% youtubeID = @article.url.match('v=(.{11})') %>
  <div class="video-container">
    <iframe class=embedded-video src=<%= "https://www.youtube.com/embed/#{youtubeID[1]}" %> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="video-header">
    <h1><%= @article.headline %></h1>
    <h2><%= @article.subhead %></h2>
    <%= @article.body.html_safe %>
  </div>
</div>
